body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e0e0e0, #f8d7da);
  margin: 0;
}

.login-container{
    display:flex;
    justify-content: center;
}

  .container {
    display: flex;
    margin:30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .left-section {
    flex: 1;
    background: linear-gradient(to bottom, #3066BE, #C13A3A);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .left-section h2 {
    margin-bottom: 10px;
  }
  
  .signin-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signin-btn:hover {
    background: white;
    color: #3066BE;
  }
  
  .right-section {
    flex: 1;
    padding: 40px;
    text-align: center;
  }
  
  .right-section h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    box-sizing: border-box;
  }
  
  
  
  .submit-btn {
    background: linear-gradient(to right, #3066BE, #C13A3A);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-btn:hover {
    opacity: 0.9;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .forgot-link {
    font-size: 14px;
    color: #3066BE;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: end;
  }
  
  .forgot-link:hover {
    text-decoration: underline;
  }
  
  /* 📱 Mobile Devices */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;  
  }

  .left-section{
    width: 100%;
    padding: 5px;
    
  }
  .right-section {
    width: 80%;
    padding: 5px;
   
  }

  .left-section {
    order: 1;
  }

  .right-section {
    order: 2;
  }

  .submit-btn {
    padding: 12px;
  }
}

/* 📱📲 Tablets */
@media screen and (max-width: 900px) and (min-width: 601px) {
  .container {
    flex-direction: column;
    margin: 30px 15px;
  }

  .left-section{
    width: 100%;
    padding: 5px;
    
  }
  .right-section {
    width: 80%;
    padding: 5px;
   
  }

  .left-section {
    order: 1;
  }

  .right-section {
    order: 2;
  }
}